.header{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}
.header h2{
    padding-left: 2rem;
    font-size: 40px;
    font-weight: bold;
    color: #F65A83;
    text-transform: uppercase;
}
.header span{
    font-size: 40px;
    color: #277BC0;
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (max-width:319px){
    .header h2{
        display: flex;
        font-size: 45px;
    }
    .header span{
        padding-left: 0.4rem;
        font-size: 45px;
    }
}

@media screen and (min-width:320px) and (max-width:430px) {
    .header h2{
        display: flex;
        font-size: 45px;
    }
    .header span{
        padding-left: 0.4rem;
        font-size: 45px;
    }
}

@media screen and (min-width:431px) and (max-width:540px){
    .header h2{
        display: flex;
        font-size: 45px;
    }
    .header span{
        padding-left: 0.4rem;
        font-size: 45px;
    }
}

@media screen and (min-width:541px) and (max-width:767px){
    .header h2{
        display: flex;
        font-size: 50px;
    }
    .header span{
        padding-left: 0.4rem;
        font-size: 50px;
    }
}

@media screen and (min-width:768px) and (max-width:912px){
    .header h2{
        display: flex;
        font-size: 50px;
    }
    .header span{
        padding-left: 0.4rem;
        font-size: 50px;
    }
}

@media screen and (min-width:913px) and (max-width:1024px){
    .header h2{
        display: flex;
        font-size: 50px;
    }
    .header span{
        padding-left: 0.4rem;
        font-size: 50px;
    }
}
